/* Your app custom styles here */

:root {
  /*
  Default
   */
}

:root .dark,
:root.dark {
  --f7-page-bg-color: #333;
  --f7-sheet-bg-color: #333;
  --f7-list-bg-color: #333;
  --f7-sheet-border-color: white;
}

.page-content-map {
  padding: 0;
}

html,
body,
#app,
.framework7-root,
.view-main,
.home,
.page-content,
.page-content-map {
  height: 100%
}

#map {
  height: 100%;
  width: 100%;
}

:root.dark #map {
  filter: var(--map-tiles-filter, none);

  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
