
.toolbar {
  display: flex;
  justify-content: center;
}

.toolbar-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.toolbutton {
  flex: 0 0 33.3%;
}

.toolicon {
  color: black;
}

#FAbicon {
  color: black;
}

.page-content-map {
  padding: 0;
}

html,
body,
#app,
.framework7-root,
.view-main,
.home,
.page-content,
.page-content-map {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

:root.dark #map {
  filter: var(--map-tiles-filter, none);

  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
