
.toolbar {
  display: flex;
  justify-content: center;
}

.toolbar-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.toolbutton {
  flex: 0 0 33.3%;
}

.toolicon {
  color: black;
}

#FAbicon {
  color: black;
}
.page-content {
  height: 100vh !important;
}
