#locateIcon {
  font-size: calc(var(--f7-fab-size) * 0.8);
}

.Buttons {
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: var(--f7-fab-size);
  height: calc(var(--f7-fab-size) * 3 + var(--f7-toolbar-height));
}
