.searchbar {
  display: flex;
  flex-direction: column;

  --f7-searchbar-in-page-content-margin: 2rem;
  --f7-searchbar-in-page-content-box-shadow: none;
  position: absolute;
  z-index: 10000;
  width: 25vw !important;
  background: none;
}

.searchElement {
  margin: 0.5rem;
  background: white;
}

#searchInput {
  width: 100% !important;
  padding: 1rem;
  height: 3rem;
  z-index: 11000;
}

.loading {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: 1rem;
}

.suggestions {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 1px solid grey;
}

.suggestions:hover {
  background: lightgrey;
}

.dark #autocompletion-examples {
  background: #333;
}

.dark .suggestions {
  background: #333;
}

.dark .suggestions:hover {
  background: grey;
}

@media only screen and (max-width: 768px) {
  .searchbar {
    --f7-searchbar-in-page-content-margin: 5%;
    min-width: 90%;
  }
}
