#navigateIcon {
  font-size: calc(var(--f7-button-height));
}

#wiki-heading {
  margin: 2rem;
  margin-top: -1rem;
  margin-left: 1rem;
}

#wikibox-page-content {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-top: -3rem;
  margin-bottom: 1.5rem;
}

#wikibox-page-content,
#wikibox-header,
#wikibox-modal-city,
.sheet-modal-inner,
.wikibox-sheet {
  height: 100%;
  text-align: justify;
}

#wikibox-header {
  margin-left: 1rem;
}